/*######################################################################################################################
//  Complete Web Developer in 2025: Zero to Mastery
//  Final Project | SmartBrain | Navigation Bar Component Styles
//####################################################################################################################*/

nav {
  position: sticky;
  top: 0;
  left: 0;
  box-shadow: 0 5px 8px #2b6ba0;
  background-color: steelblue;
  z-index: 1;
}
/*--------------------------------------------------------------------------------------------------------------------*/
nav > div {
  display: flex;
  position: relative;
  width: calc(100% - 40px);
  max-width: calc(1440px - 40px);
  margin: 0 auto;
  padding: 20px;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}
@media only screen and (max-width: 500px) { nav > div {
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}}
/*--------------------------------------------------------------------------------------------------------------------*/
nav > div > span {
  color: #eee;
  cursor: pointer;
}
nav > div > span:hover {
  color: #ffd658;
}
nav > div > span:active {
  color: #ff8a58;
}
nav > div > .logout {
  margin-left: 130px;
  font-size: 32px;
  font-weight: 700;
}
@media only screen and (max-width: 500px) { nav > div > .logout {
  margin-left: 0;
}}
nav > div > .user {
  font-size: 48px;
}
