/*######################################################################################################################
//  Complete Web Developer in 2025: Zero to Mastery
//  Final Project | SmartBrain | Profile Component Styles
//####################################################################################################################*/

.profile {
  position: absolute;
  top: 110px;
  right: 10px;
  min-width: min(calc(500px - 80px), calc(100% - 80px));
  width: auto;
  max-width: calc(100% - 80px);
  max-height: calc(100vh - 110px - 70px);
  box-shadow: 0 0 10px 1px #2b6ba0;
  border-top: 1px solid #9cc3e4;
  border-left: 1px solid #9cc3e4;
  border-radius: 10px;
  overflow-y: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;  
  padding: 30px;
  background-color: #6aa0cc;
  transition: opacity 0.3s ease-in-out;
}
@media only screen and (max-width: 500px) { .profile {
  top: 74px;
  max-height: calc(100vh - 74px - 70px);
}}
.profile.open {
  opacity: 1;
  pointer-events: auto;
}
.profile.close {
  opacity: 0;
  pointer-events: none;
}
/*--------------------------------------------------------------------------------------------------------------------*/
.profile > p {
  text-align: left;
  color: black;
  font-size: 24px;
  font-weight: 600;
}
.profile > p:first-child {
  font-size: 28px;
  font-weight: 700;
}
.profile > p:nth-child(4) {
  margin-bottom: 15px;
}
@media only screen and (min-width: 501px) { .profile > p > br {
  display: none;
}}
.profile > p > span {
  color: #ffd658;
  font-weight: 700;
}
/*--------------------------------------------------------------------------------------------------------------------*/
.profile > hr {
  height: 2px;
  margin: 30px 0;
  border: none;
  background-color: #9cc3e4;
}
/*--------------------------------------------------------------------------------------------------------------------*/
.profile > button {
  width: 200px;
}
