/*######################################################################################################################
##  Zero To Mastery Academy
##  Complete Web Developer in 2025: Zero to Mastery
##  Final Project | SmartBrain | Input Field Component Styles
######################################################################################################################*/

.input-field {
  margin-bottom: 30px;
  text-align: center;
}

.input-field > h1 {
  margin-bottom: 33px;
  color: #ffd658;
  font-size: 40px;
  font-weight: 700;
}

.input-field > p {
  margin-bottom: 30px;
  color: #eee;
  font-size: 20px;
  font-weight: 600;
}

.input-field > div {
  width: 80%;
  margin: 0 auto;
  box-shadow: 0 0 10px #333;
  border-radius: 10px;
  padding: 30px 0;
  background:
    radial-gradient(circle at 0% 50%, #60103000 9px, #af4c60 10px, #60103000 11px) 0px 10px,
    radial-gradient(at 100% 100%, #60103000 9px, #af4c60 10px, #60103000 11px), #ffa826;
  background-size: 20px 20px;
}

#image-url {
  display: block;
  width: calc(100% - 90px);
  margin: 0 auto 30px;
  box-shadow: 0 0 10px 1px #333;
  border-radius: 10px;
  padding: 15px;
  background-color: #eee;
  text-align: center;
  font-size: 16px;
}

#detect-btn {
  display: block;
  width: max(95px, 20%);
  margin: 0 auto;
  box-shadow: 0 0 10px 1px #333, 0 0 10px 1px #9cc0e4 inset;
  border-radius: 10px;
  padding: 10px;
  background-color: steelblue;
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  cursor: pointer;
}
#detect-btn:hover {
  background-color: #eee;
  color: steelblue;
}
#detect-btn:active {
  box-shadow: 2px 2px 10px #333 inset, -2px -2px 10px #9cc0e4 inset;
  padding: 10.5px;
  font-size: 19px;
}
