/*######################################################################################################################
Zero To Mastery Academy
Complete Web Developer in 2025: Zero to Mastery
Final Project | SmartBrain | Input Field Component Styles
######################################################################################################################*/

.input-field {
  margin-bottom: 30px;
}

.input-field > p {
  margin-bottom: 30px;
  color: black;
  font-size: 20px;
}

.input-field > div {
  width: 70%;
  margin: 0 auto;
  box-shadow: 3px 3px 10px #708090;
  border-radius: 5px;
  padding: 30px;

  background:
    radial-gradient(circle at 0% 50%, #60103000 9px, #612 10px, #60103000 11px) 0px 10px,
    radial-gradient(at 100% 100%, #60103000 9px, #612 10px, #60103000 11px), #ffa826;
  background-size: 20px 20px;
}

#image-url {
  display: block;
  width: calc(100% - 30px);
  margin-bottom: 30px;
  box-shadow: 0 0 10px #222;
  border-radius: 5px;
  padding: 15px;
  text-align: center;
  font-size: 16px;
}

#detect-btn {
  width: max(95px, 20%);
  box-shadow: 0 0 10px #222, 0 0 5px #b0c4de inset;
  border-radius: 5px;
  padding: 10px;
  background-color: steelblue;
  color: #fff;
  font-size: 24px;
  font-weight: 700;
  cursor: pointer;
}
#detect-btn:hover {
  box-shadow: 0 0 10px #fff, 0 0 10px #222 inset;
}
#detect-btn:active {
  background-color: #fff;
  color: steelblue;
}
