/*######################################################################################################################
//  Complete Web Developer in 2025: Zero to Mastery
//  Final Project | SmartBrain | Face Detector Component Styles
//####################################################################################################################*/

main {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
}
/*--------------------------------------------------------------------------------------------------------------------*/
main > p {
  width: calc(100% - 30px);
  margin: 0 auto 30px;
  text-align: center;
  color: #eee;
  font-size: 20px;
  font-weight: 700;
}
