/*######################################################################################################################
Zero To Mastery Academy
Complete Web Developer in 2025: Zero to Mastery
Final Project | SmartBrain | Logo Component Styles
######################################################################################################################*/

.tilt {
  width: 200px;
  height: 200px;
  background-color: green;
}
