/*######################################################################################################################
Zero To Mastery Academy
Complete Web Developer in 2025: Zero to Mastery
Final Project | SmartBrain | Navigation Bar Component Styles
######################################################################################################################*/

.nav-bar {
  position: sticky;
  top: 0;
  box-shadow: 0 3px 5px #708090;
  padding: 20px 30px 24px;
  background-color: steelblue;
  text-align: right;
  list-style-type: none;
}

.nav-bar > li {
  display: inline;
  font-size: 32px;
}

.nav-bar > li > a {
  margin-right: 60px;
  color: #eee;
  font-weight: 700;
  text-decoration: none;
}

.fa-navicon {
  color: #eee;
  cursor: pointer;
}

.nav-bar > li > a:hover,
.fa-navicon:hover {
  color: #b0c4de;
}
