/*######################################################################################################################
##  Zero To Mastery Academy
##  Complete Web Developer in 2025: Zero to Mastery
##  Final Project | SmartBrain | Navigation Bar Component Styles
######################################################################################################################*/

.nav-bar {
  position: sticky;
  top: 0;
  margin-bottom: 30px;
  box-shadow: 0 5px 5px #708090;
  padding: 30px 0 36px;
  background-color: steelblue;
  font-size: 32px;
}

.nav-bar > a {
  margin-left: 180px;
  color: #eee;
  font-weight: 700;
  text-decoration: none;
}

.nav-bar > i {
  position: absolute;
  top: 38px;
  right: 40px;
  color: #eee;
  cursor: pointer;
}

.nav-bar > a:hover,
.nav-bar > i:hover {
  color: #b0c4de;
}
