/*######################################################################################################################
##  Zero To Mastery Academy
##  Complete Web Developer in 2025: Zero to Mastery
##  Final Project | SmartBrain | Navigation Bar Component Styles
######################################################################################################################*/

.nav-bar {
  position: sticky;
  top: 0;
  margin-bottom: 30px;
  box-shadow: 0 5px 5px #708090;
  padding: 20px 0px 24px;
  background-color: steelblue;
  font-size: 32px;
}

.app-logo {
  position: absolute;
  top: 100px;
  left: 300px;
}

.nav-bar > a {
  margin-left: 150px;
  color: #eee;
  font-weight: 700;
  text-decoration: none;
}

.nav-bar > .fa-navicon {
  position: absolute;
  top: 26px;
  right: 30px;
  color: #eee;
  cursor: pointer;
}

.nav-bar > a:hover,
.nav-bar > .fa-navicon:hover {
  color: #b0c4de;
}
