/*######################################################################################################################
##  Zero To Mastery Academy
##  Complete Web Developer in 2025: Zero to Mastery
##  Final Project | SmartBrain | Profile Component Styles
######################################################################################################################*/

.nav-menu {
  position: absolute;
  top: 90px;
  right: 50px;
  min-width: 260px;
  box-shadow: 0 5px 15px #2b6ba0;
  border-top: 1px solid #9cc3e4;
  border-left: 1px solid #9cc3e4;
  border-radius: 5px;
  padding: 10px 30px;
  background-color: #6aa0cc;
  transition: opacity 0.3s ease-in-out;
}
.nav-menu.open {
  opacity: 1;
}
.nav-menu.close {
  opacity: 0;
}

.nav-menu > hr {
    height: 2px;
    margin: 10px 0;
    border: none;
    background-color: #9cc3e4;
}

.nav-menu > p {
  padding: 10px 0;
  color: black;
  text-align: center;
  line-height: 1.75;
  font-size: 24px;
  font-weight: 600;
}
.nav-menu > p:first-child {
  font-size: 28px;
  font-weight: 700;
}
.nav-menu > p > span {
  color: #ffd658;
  font-weight: 700;
}
