/*######################################################################################################################
##  Complete Web Developer in 2025: Zero to Mastery
##  Final Project | SmartBrain | Root Component Styles
######################################################################################################################*/

#title {
    position: relative; top: -25px; z-index: -1;
    margin-left: 130px; padding-right: 10px;
    color: #ffd658; font-size: 32px; font-weight: 900;
}
