/*######################################################################################################################
##  Zero To Mastery Academy
##  Complete Web Developer in 2025: Zero to Mastery
##  Final Project | SmartBrain | Root Component Styles
######################################################################################################################*/

.app-logo {
  display: block;
  position: relative;
  top: 100px;
  left: 10px;
}

.build-logos > a > img {
  height: 125px;
  margin: 20px;
  transition: filter 200ms ease-in-out;
}
.build-logos > a > img:hover {
  filter: drop-shadow(0 0 20px #646cffaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.build-logos > a:last-of-type > img {
  animation: logo-spin infinite 20s linear;
}
