/*######################################################################################################################
##  Zero To Mastery Academy
##  Complete Web Developer in 2025: Zero to Mastery
##  Final Project | SmartBrain | Application Webframe Styles
######################################################################################################################*/

@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0; border: none; padding: 0;
}

a, button {
  -webkit-tap-highlight-color: transparent;
}

:root {
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-synthesis: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

body {
  min-width: 320px; min-height: 100vh;
  background: linear-gradient(to right, #ff5edf 0%, #04c8de 100%);
}

#root {
  display: flex; flex-direction: column;
  min-width: 320px; min-height: 100vh;
  margin: 0 auto;
  justify-content: space-between; gap: 60px;
}
