/*######################################################################################################################
Zero To Mastery Academy
Complete Web Developer in 2025: Zero to Mastery
Final Project | SmartBrain | Application Webframe Styles
######################################################################################################################*/

* {
  margin: 0;
  border: none;
  padding: 0;
}

a, button {
  -webkit-tap-highlight-color: transparent;
}

:root {
  font-family: system-ui, Avenir, Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-synthesis: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

body {
  min-width: 320px;
  min-height: 100vh;
}

#root {
  max-width: 1440px;
  margin: 0 auto;
  background-color: rgb(255, 255, 197);
  text-align: center;
}
