/*######################################################################################################################
##  Complete Web Developer in 2025: Zero to Mastery
##  Final Project | SmartBrain | Copyright Component Styles
######################################################################################################################*/

.copyright > img { /*-------------------------------------------------------------------------------------------------*/
  display: block;
  width: 50px;
  height: 50px;
  margin: 0 auto 10px;
}

.copyright > a { /*---------------------------------------------------------------------------------------------------*/
  display: block;
  margin-bottom: 25px;
}
.copyright > a:last-child {
  margin-bottom: 0;
}
.copyright > p {
  margin-bottom: 10px;
  color: #ffd658;
  font-size: 16px;
  font-weight: 700;
}
.copyright a,
.copyright p {
  text-align: center;
}
