/*######################################################################################################################
//  Complete Web Developer in 2025: Zero to Mastery
//  Final Project | SmartBrain | Copyright Component Styles
//####################################################################################################################*/

#copyright {
  width: auto;
  height: auto;
  border: none;
  padding: 0 15px 0 0;
  align-self: center;
}
@media only screen and (max-width: 690px) { #copyright {
  padding: 0;
}}
/*--------------------------------------------------------------------------------------------------------------------*/
#copyright > img {
  display: block;
  width: 50px;
  height: 50px;
  margin: 0 auto 15px;
}
/*--------------------------------------------------------------------------------------------------------------------*/
#copyright > a {
  display: block;
  margin-bottom: 25px;
  text-align: center;
}
@media only screen and (max-width: 690px) { #copyright > a:last-child {
  margin-bottom: 0;
}}
/*--------------------------------------------------------------------------------------------------------------------*/
#copyright > p {
  margin-bottom: 10px;
  color: #ffd658;
  font-size: 16px;
  font-weight: 700;
  text-align: center;
}
