/*######################################################################################################################
//  Complete Web Developer in 2025: Zero to Mastery
//  Final Project | SmartBrain | Footer Bar Component Styles
//####################################################################################################################*/

footer {
  box-shadow: 0 -5px 10px #333;
  background-color: #333;
}
/*--------------------------------------------------------------------------------------------------------------------*/
footer > div {
  display: flex;
  width: calc(100% - 60px);
  max-width: calc(1440px - 60px);
  margin: 0 auto;
  padding: 30px;
  justify-content: center;
  align-items: flex-start;
  gap: 15px;
}
@media only screen and (max-width: 690px) { footer > div {
  flex-direction: column;
  align-items: center;
  gap: 30px;
}}
/**********************************************************************************************************************/
.footer-item {
  width: 188px;
  height: 300px;
  border-left: 1px solid #eee;
  padding-left: 15px;
}
@media only screen and (max-width: 690px) { .footer-item {
  border: none;
  padding: 0;
}}
/*--------------------------------------------------------------------------------------------------------------------*/
.footer-item > h2 {
  margin-bottom: 25px;
  color: #ffd658;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
}
@media only screen and (max-width: 690px) { .footer-item > h2 {
  text-align: center;
}}
/*--------------------------------------------------------------------------------------------------------------------*/
.footer-item > ul {
  list-style: none;
}
.footer-item > ul > li {
  margin-bottom: 3px;
}
@media only screen and (max-width: 690px) { .footer-item > ul > li {
  text-align: center;
}}
.footer-item > ul > li:last-child {
  margin-bottom: 25px;
}
/*--------------------------------------------------------------------------------------------------------------------*/
.footer-item a {
  color: #eee;
  font-size: 16px;
  font-weight: 400;
  text-decoration: none;
}
.footer-item a:hover {
  color: #6aa0cc;
}
.footer-item a:active {
  color: #ff8a58;
}
/*--------------------------------------------------------------------------------------------------------------------*/
.footer-item > div {
  display: flex;
  justify-content: flex-start;
  gap: 10px;
}
.footer-item > div > a > img {
  width: 50px;
  height: 50px;
}
.footer-item > div > a > img:hover {
  filter: drop-shadow(0 0 10px steelblue);
}
