/*######################################################################################################################
##  Complete Web Developer in 2025: Zero to Mastery
##  Final Project | SmartBrain | Footer Bar Component Styles
######################################################################################################################*/

footer {
  box-shadow: 0 -5px 8px #333; padding: 30px;
  background-color: #333;
}
footer > div {
  display: flex; flex-wrap: wrap;
  margin: 0 auto;
  justify-content: space-around; align-items: flex-start; gap: 25px;
}
@media only screen and (max-width: 900px) { footer > div {
  max-width: 500px;
}}
@media only screen and (max-width: 500px) { footer > div {
  flex-direction: column;
  align-items: center;
}}
