/*######################################################################################################################
//  Complete Web Developer in 2025: Zero to Mastery
//  Final Project | SmartBrain | Front End Component Styles
//####################################################################################################################*/

@media only screen and (max-width: 1115px) { .front-end {
  display: none;
}}
/*--------------------------------------------------------------------------------------------------------------------*/
@keyframes logo-spin {
  from {transform: rotate(0deg);}
  to {transform: rotate(360deg);}
}
.front-end > div > a:last-child > img {
  animation: logo-spin 20s linear infinite;
}
