/*######################################################################################################################
##  Complete Web Developer in 2025: Zero to Mastery
##  Final Project | SmartBrain | Front End Component Styles
######################################################################################################################*/

@media only screen and (max-width: 860px) { .front-end {
  display: none;
}}
/*--------------------------------------------------------------------------------------------------------------------*/
.front-end > div {
  display: flex;
  justify-content: flex-start;
  gap: 10px;
}
/*--------------------------------------------------------------------------------------------------------------------*/
.front-end > div > a > img {
  width: 50px;
  height: 50px;
}
.front-end > div > a > img:hover {
  filter: drop-shadow(0 0 10px steelblue);
}
@keyframes logo-spin {
  from {transform: rotate(0deg);}
  to {transform: rotate(360deg);}
}
.front-end > div > a:last-child > img {
  animation: logo-spin 20s linear infinite;
}
