/*######################################################################################################################
##  Complete Web Developer in 2025: Zero to Mastery
##  Final Project | SmartBrain | Links Component Styles
######################################################################################################################*/

.links p { /*---------------------------------------------------------------------------------------------------------*/
  margin-bottom: 25px;
  color: #ffd658; font-size: 16px; font-weight: 700; text-transform: uppercase;
}

.links ul { /*--------------------------------------------------------------------------------------------------------*/
  list-style: none;
}
.links li {
  margin-bottom: 10px;
}
.links li:nth-of-type(3) {
  margin-bottom: 25px;
}
.links li:last-of-type {
  margin-bottom: 25px;
}
@media only screen and (max-width: 500px) { .links p, .links li {
  text-align: center;
}}

.links a { /*---------------------------------------------------------------------------------------------------------*/
  color: #eee; font-size: 16px; font-weight: 600; text-decoration: none;
}
.links a:hover {
  color: #6aa0cc;
}
.links a:active {
  color: #ff8a58;
}

.links div { /*-------------------------------------------------------------------------------------------------------*/
  display: flex;
  justify-content: flex-start; gap: 25px;
}
@media only screen and (max-width: 500px) { .links div {
  justify-content: center;
}}
.links div a {
  font-size: 28px;
}
