/*######################################################################################################################
//  Complete Web Developer in 2025: Zero to Mastery
//  Final Project | SmartBrain | Quick Links Component Styles
//####################################################################################################################*/

#links-login > ul > li:nth-child(3),
#links-detector > ul > li:nth-child(3) {
  margin-bottom: 25px;
}
/*--------------------------------------------------------------------------------------------------------------------*/
#links-login {
  height: auto;
}
/*--------------------------------------------------------------------------------------------------------------------*/
@media only screen and (max-width: 1115px) { #links-detector {
  height: auto;
}}
/*--------------------------------------------------------------------------------------------------------------------*/
#quick-icons {
  gap: 15px;
}
@media only screen and (max-width: 690px) { #quick-icons {
  justify-content: center;
}}
/*--------------------------------------------------------------------------------------------------------------------*/
#quick-icons > a {
  font-size: 32px;
}
