/*######################################################################################################################
##  Complete Web Developer in 2025: Zero to Mastery
##  Final Project | SmartBrain | Tools Component Styles
######################################################################################################################*/

.tools p { /*---------------------------------------------------------------------------------------------------------*/
  margin-bottom: 25px;
  color: #ffd658; font-size: 16px; font-weight: 700; text-transform: uppercase;
}

.tools ul { /*--------------------------------------------------------------------------------------------------------*/
  list-style: none;
}
.tools li {
  margin-bottom: 3px;
}
.tools li:last-of-type {
  margin-bottom: 25px;
}
@media only screen and (max-width: 500px) { .tools p, .tools li {
  text-align: center;
}}

.tools a { /*---------------------------------------------------------------------------------------------------------*/
  color: #eee; font-size: 16px; font-weight: 400; text-decoration: none;
}
.tools a:hover {
  color: #6aa0cc;
}
.tools a:active {
  color: #ff8a58;
}

.tools div { /*-------------------------------------------------------------------------------------------------------*/
  display: flex;
  justify-content: flex-start; gap: 25px;
}
@media only screen and (max-width: 500px) { .tools div {
  justify-content: center;
}}
.tools div img {
  height: 50px;
}
@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  } to {
    transform: rotate(360deg);
  }
}
.tools div a:last-of-type img {
  animation: logo-spin 20s linear infinite;
}
.tools div img:hover {
  filter: drop-shadow(0 0 10px steelblue);
}
